body {
    background-color: gray;
    align-items: center;
}

#videoplayer {
    width: 98vw;
    height: 98vh;
    display: none;
}

#startbutton {
    color: white;
    font-size: 5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border-color: transparent;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    background-color: rgb(65, 165, 88);
    padding: 17px;
}

#center {
    text-align: center;
    width: 98vw;
    height: 98vh;
}

#skipbutton {
    color: white;
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    border-color: transparent;
    background-color: black;
    z-index: 10;
}